/*
 * DIAGNOSTICS.CSS
 *
 * Utility styles for debugging
 * and diagnosing by Sean Juarez
 *
 */
/*========== BACKGROUNDS ==========*/
.bg {
  background-color: rgba(0, 0, 0, 0.05);
}
.bg-b {
  background-color: rgba(30, 144, 255, 0.15);
}
.bg-b-l {
  background-color: rgba(30, 144, 255, 0.07);
}
.bg-r {
  background-color: rgba(220, 20, 60, 0.1) !important;
}
.bg-r-l {
  background-color: rgba(220, 20, 60, 0.05) !important;
}
/*============ BORDERS ============*/
.b {
  border: solid 1px rgba(0, 0, 0, 0.3);
}
.b-b {
  border: solid 1px rgba(30, 144, 255, 0.6);
}
.b-r {
  border: solid 1px rgba(220, 20, 60, 0.4);
}
.b.dash,
.b-b.dash,
.b-r.dash {
  border-style: dashed;
}
.b.dot,
.b-b.dot,
.b-r.dot {
  border-style: dotted;
}
/*============ OUTLINES ============*/
.o {
  outline: solid 1px rgba(0, 0, 0, 0.3);
}
.o-b {
  outline: solid 1px rgba(30, 144, 255, 0.6);
}
.o-r {
  outline: solid 1px rgba(220, 20, 60, 0.5);
}
.o.dash,
.o-b.dash,
.o-r.dash {
  outline-style: dashed;
}
.o.dot,
.o-b.dot,
.o-r.dot {
  outline-style: dotted;
}
/*=========== BOX-SIZING ===========*/
.box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*============== ALL ==============*/
.b-all * {
  border: solid 1px rgba(0, 0, 0, 0.3);
}
.bg-all * {
  background-color: rgba(0, 0, 0, 0.05);
}
.box-all * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*============= OTHER ==============*/
.works {
  border: solid 1px rgba(220, 20, 60, 0.4);
  background-color: rgba(220, 20, 60, 0.1) !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*========= MEDIA QUERIES =========*/
.q-box {
  padding: 2px 7px 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  position: fixed;
  bottom: 7px;
  left: 7px;
  z-index: 10000;
  color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: rgba(220, 220, 220, 0.7);
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .retina:before {
    content: "@2x - ";
  }
}
@media only screen and (min-width: 320px) {
  .q-box:after {
    content: "min-width: 320px";
  }
  .q-box.device:after {
    content: "iPhone - Portrait";
  }
  .q-box.size:before {
    content: " (320px)";
    margin-left: 0.5em;
  }
  .q-box:after {
    float: left;
  }
  .q-box.english:after {
    content: "iPhone - Portrait and wider (320px)";
  }
  .q-box.show-width {
    width: 320px;
  }
}
@media only screen and (min-width: 480px) {
  .q-box:after {
    content: "min-width: 480px";
  }
  .q-box.device:after {
    content: "iPhone - Landscape";
  }
  .q-box.size:before {
    content: " (480px)";
    margin-left: 0.5em;
  }
  .q-box:after {
    float: left;
  }
  .q-box.english:after {
    content: "iPhone - Landscape and wider (480px)";
  }
  .q-box.show-width {
    width: 480px;
  }
}
@media only screen and (min-width: 600px) {
  .q-box:after {
    content: "min-width: 600px";
  }
  .q-box.device:after {
    content: "Kindle Fire - Portrait";
  }
  .q-box.size:before {
    content: " (600px)";
    margin-left: 0.5em;
  }
  .q-box:after {
    float: left;
  }
  .q-box.english:after {
    content: "Kindle Fire - Portrait and wider (600px)";
  }
  .q-box.show-width {
    width: 600px;
  }
}
@media only screen and (min-width: 768px) {
  .q-box:after {
    content: "min-width: 768px";
  }
  .q-box.device:after {
    content: "iPad - Portrait";
  }
  .q-box.size:before {
    content: " (768px)";
    margin-left: 0.5em;
  }
  .q-box:after {
    float: left;
  }
  .q-box.english:after {
    content: "iPad - Portrait and wider (768px)";
  }
  .q-box.show-width {
    width: 768px;
  }
}
@media only screen and (min-width: 980px) {
  .q-box:after {
    content: "min-width: 980px";
  }
  .q-box.device:after {
    content: "Kindle Fire - Landscape";
  }
  .q-box.size:before {
    content: " (980px)";
    margin-left: 0.5em;
  }
  .q-box:after {
    float: left;
  }
  .q-box.english:after {
    content: "Kindle Fire - Landscape and wider (980px)";
  }
  .q-box.show-width {
    width: 980px;
  }
}
@media only screen and (min-width: 1024px) {
  .q-box:after {
    content: "min-width: 1024px";
  }
  .q-box.device:after {
    content: "iPad - Landscape";
  }
  .q-box.size:before {
    content: " (1024px)";
    margin-left: 0.5em;
  }
  .q-box:after {
    float: left;
  }
  .q-box.english:after {
    content: "iPad - Landscape and wider (1024px)";
  }
  .q-box.show-width {
    width: 1024px;
  }
}
@media only screen and (min-width: 1080px) {
  .q-box:after {
    content: "min-width: 1080px";
  }
  .q-box.device:after {
    content: "High Definition";
  }
  .q-box.size:before {
    content: " (1080px)";
    margin-left: 0.5em;
  }
  .q-box:after {
    float: left;
  }
  .q-box.english:after {
    content: "High Definition and wider (1080px)";
  }
  .q-box.show-width {
    width: 1080px;
  }
}
@media only screen and (min-width: 1200px) {
  .q-box:after {
    content: "min-width: 1200px";
  }
  .q-box.device:after {
    content: "Desktop";
  }
  .q-box.size:before {
    content: " (1200px)";
    margin-left: 0.5em;
  }
  .q-box:after {
    float: left;
  }
  .q-box.english:after {
    content: "Desktop and wider (1200px)";
  }
  .q-box.show-width {
    width: 1200px;
  }
}
@media only screen and (min-width: 1280px) {
  .q-box:after {
    content: "min-width: 1280px";
  }
  .q-box.device:after {
    content: "Desktop";
  }
  .q-box.size:before {
    content: " (1280px)";
    margin-left: 0.5em;
  }
  .q-box:after {
    float: left;
  }
  .q-box.english:after {
    content: "Desktop and wider (1280px)";
  }
  .q-box.show-width {
    width: 1280px;
  }
}
@media only screen and (min-width: 1400px) {
  .q-box:after {
    content: "min-width: 1400px";
  }
  .q-box.device:after {
    content: "Widescreen";
  }
  .q-box.size:before {
    content: " (1400px)";
    margin-left: 0.5em;
  }
  .q-box:after {
    float: left;
  }
  .q-box.english:after {
    content: "Widescreen and wider (1400px)";
  }
  .q-box.show-width {
    width: 1400px;
  }
}
